In [1]:
import pandas as pd

import matplotlib.pyplot as plt

import seaborn as sns

import numpy as np
#from pandas_profiling import ProfileReport

In [2]:
trans_2018 = pd.read_excel('../data/Transaction Data.xlsx', sheet_name= 'Transactions18')
trans_2019 = pd.read_excel('../data/Transaction Data.xlsx', sheet_name= 'Transactions19')
X_cleaned_classfn = pd.read_csv('../data/X_cleaned_classfn_based_on_rfe.csv')

In [3]:
trans_2019 = trans_2019.rename(columns={'sales_12M': 'sales_2019', 'new_Fund_added_12M':'new_fund_2019'})

In [4]:
full_df = pd.merge(trans_2018,trans_2019, on = 'CONTACT_ID' )

In [5]:
full_df.head()

,CONTACT_ID,no_of_sales_12M_1,no_of_Redemption_12M_1,no_of_sales_12M_10K,no_of_Redemption_12M_10K,no_of_funds_sold_12M_1,no_of_funds_redeemed_12M_1,no_of_fund_sales_12M_10K,no_of_funds_Redemption_12M_10K,no_of_assetclass_sold_12M_1,...,aum_P_CEF,aum_P_ETF,aum_P_MF,aum_P_SMA,aum_P_UCITS,aum_P_UIT,refresh_date_x,sales_2019,new_fund_2019,refresh_date_y
0,0047433,21.0,38.0,NaN,1.0,5.0,5.0,NaN,1.0,2.0,...,0.0,0.0,122866.04,114614.07,0.0,0.0,2018-12-31,18633.105,NaN,2019-12-31
1,4461312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,19629.00,0.00,0.0,0.0,2018-12-31,NaN,NaN,2019-12-31
2,4491079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1758.70,0.00,0.0,0.0,2018-12-31,NaN,NaN,2019-12-31
3,0107408,20.0,NaN,2.0,NaN,1.0,NaN,1.0,NaN,1.0,...,0.0,0.0,57943.00,0.00,0.0,0.0,2018-12-31,93212.000,1.0,2019-12-31
4,85101140503769936458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,-8573.59,0.00,0.0,0.0,2018-12-31,NaN,NaN,2019-12-31

In [6]:
X_cleaned_classfn.head()

,Unnamed: 0,no_of_sales_12M_1,no_of_Redemption_12M_1,no_of_sales_12M_10K,no_of_funds_sold_12M_1,no_of_funds_redeemed_12M_1,No_of_fund_curr,AUM,sales_curr,sales_12M_2018,redemption_curr,redemption_12M,new_Fund_added_12M_2018,aum_AC_EQUITY,aum_AC_FIXED_INCOME_MUNI,aum_AC_FIXED_INCOME_TAXABLE,aum_AC_MULTIPLE,aum_P_MF,aum_P_SMA
0,1666,-0.199371,-0.030546,-0.207843,-0.573977,0.184764,-0.373415,-0.061582,-0.085083,-0.151783,0.091395,0.048131,-0.415778,0.060466,-0.078960,-0.073437,-0.022410,-0.024624,-0.056194
1,4027,-0.189437,-0.075336,-0.115750,-0.153081,0.997264,4.104365,0.483007,-0.085083,-0.129390,0.091395,0.119728,-0.415778,0.055576,0.331867,0.542411,-0.043019,0.291963,0.028260
2,241,0.962899,0.121740,-0.207843,4.476778,4.247261,2.185316,0.418069,-0.032015,-0.040016,0.091395,-0.261162,0.437090,-0.014580,-0.092261,-0.057885,-0.022410,0.546840,-0.056194
3,8902,0.019176,-0.035025,0.713083,1.109608,0.997264,2.185316,0.214598,0.022675,0.176991,0.089568,0.096260,-0.415778,0.051141,0.150777,-0.225239,1.434982,0.304421,-0.056194
4,1326,0.048977,0.023202,0.068435,1.530505,0.997264,0.266268,-0.075106,-0.085083,-0.089742,0.091395,0.151973,0.437090,-0.005306,-0.078280,0.020980,-0.022410,-0.040737,-0.056194

In [7]:
firms_a = pd.read_excel('../data/Firm Information.xlsx', sheet_name= 'Asset fund summary', skiprows= 1)

In [8]:
firms_rep_summary = pd.read_excel('../data/Firm Information.xlsx', sheet_name= 'Rep summary')

In [9]:
firms_rep_summary = firms_rep_summary.rename({'Contact ID':'CONTACT_ID'}, axis = 1)

In [10]:
firms_rep_summary.head()

,CONTACT_ID,CustomerID,Firm ID,Office ID,Channel,Sub channel,Firm name
0,0000286,1,1948520,17993101120,National Broker-Dealer,NACS,Morgan Stanley Wealth Management
1,0000422,2,1688552,85202111664692445495,National Broker-Dealer,NACS,"UBS Financial Services, Inc."
2,0000508,3,1567450,15674503441,National Broker-Dealer,NACS,Merrill Lynch
3,0000604,4,0022885,85102132106001250782,Independent Dealer,IBD,LPL Financial LLC
4,0000657,5,1567450,15674501882,National Broker-Dealer,NACS,Merrill Lynch

In [11]:
full_df = pd.merge(full_df, firms_rep_summary, on = 'CONTACT_ID')

In [12]:
missing_diagrams = {
    'heatmap' : True , 'dendrogram' : True, 'matrix' : True, 'bar' : True ,
}

In [13]:
profile = ProfileReport(full_df, title ='Nuveen Profile report', missing_diagrams = missing_diagrams, minimal = True)

NameError: name 'ProfileReport' is not defined

In [ ]:
profile.to_file(output_file = "nuveen_profiling_initial.html")

In [ ]:
sns.boxplot(full_df['no_of_sales_12M_1'])

In [ ]:
full_df['no_of_sales_12M_1'].fillna(0, inplace = True)

In [ ]:
select_columns = [i for i in full_df.columns if i.lower().startswith('no_of')]

In [ ]:
select_columns

In [ ]:
for i in full_df.columns:
    if i.lower().startswith('no_of'):
        full_df[i].fillna(0, inplace = True)

In [ ]:
full_df[select_columns].describe()

In [ ]:
full_df['AUM'].fillna(0, inplace = True)

In [ ]:
for i in full_df.columns:
    if i.lower().startswith('aum'):
        #print(full_df[i].count()) #contains the count of elements in each column
        full_df[i].fillna(0, inplace = True)

In [ ]:
full_df.info()

In [ ]:
full_df['AUM'].describe()

In [ ]:
full_df['AUM'] = full_df['AUM'].apply(lambda x: x if x >=0 else 0)

In [ ]:
full_df['AUM'].describe()

In [ ]:
for i in full_df.columns:
    if i.startswith('aum'):
        full_df.drop(i, axis= 1,  inplace = True)

In [ ]:
full_df.info()

In [ ]:
for i in full_df.columns:
    if i.startswith('refresh_date'):
        full_df.drop(i, axis= 1,  inplace = True)

In [ ]:
full_df.info()

In [ ]:
for i in full_df.columns:
    if i.lower().startswith('sales'):
        full_df[i] = full_df[i].apply(lambda x: x if x >=0 else 0)

In [ ]:
full_df['sales_12M'].describe()

In [ ]:
for i in full_df.columns:
    if i.lower().startswith('new'):
        full_df[i] = full_df[i].apply(lambda x: x if x >=0 else 0)

In [ ]:
full_df['new_Fund_added_12M'].describe()

In [ ]:
plt.figure(figsize = (20,15))
sns.heatmap(full_df.corr(), annot = True)

In [ ]:
plt.scatter(full_df['sales_12M'], full_df['sales_2019'])

In [ ]:
full_df.info()

In [ ]:
full_df['redemption_curr'].head()

In [ ]:
for i in full_df.columns:
    if i.lower().startswith('redemption'):
        full_df[i].fillna(0, inplace = True)

In [ ]:
full_df['redemption_12M'].head()

In [ ]:
full_df.info()

In [ ]:
full_df.to_csv('../data/cleaned_eda_data.csv')